# Prerequisites
*.d

*.h
*.java
*.c++
*.cpp
*.gradle
*.png
*.dat
*.hl
*.ndll
*.hash
*.exp
*.ilk
*.bat
*gradlew
*.ogg
*.build
*.ico
*.pdb
*.jar
*.properties
*.hdll

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
